*~
.*
.DS_Store
*.csv
*.pyc
*.swp
*.egg-info
build
dist
.env
*.sqlite
node_modules
*.iml
*.ipr
*.iws
*.log
*.sw?
*.db
.classpath
.project

.idea/
.settings/
out/
target/
target-eclipse/
bin/

node_modules/
.DS_Store


# Accept these files in the repository
!.gitignore
