<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
          <input ng-model="searchDiscipline" type="text" placeholder="Digite o nome de uma disciplina..." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
</div>
<div class="student-container" ng-repeat="discipline in disciplines | filter:searchDiscipline">
    <div>
        <span class="student-name">[[ discipline.name ]]</span>
    </div>
</div>