<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
          <input ng-model="searchStudents" type="text" placeholder="Digite o nome de um aluno..." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
</div>
<div class="student-container" ng-repeat="student in students | filter:searchStudents">
    <span class="student-name"><a ng-click="show = !show; listDisciplines(student.departament, student.id)"  href="javascript:void(0)">[[ student.name ]]</a></span>
    <hr>
    <div ng-show="show">
        <span class="log-msg">[[log]]</span>
        <div ng-repeat="discipline in disciplinesByDepartament">
            <span><a href="javascript:void(0)" ng-click="matriculateStudent(discipline, student)">[[discipline.name]]</a></span>
        </div>
    </div>
</div>
