<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
          <input ng-model="searchStudents" type="text" placeholder="Digite o nome de um aluno..." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
</div>
<ul class="student-container" ng-repeat="student in students | filter:searchStudents">

    <li class="student-name"><a ng-model="click" href="javascript:void(0)" ng-click="listDisciplines(student.departament)">[[ student.name ]]</a></li>
    <hr>
    <div class="disciplines-show" ng-repeat="discipline in disciplinesByDepartament" >
        <span><a href="javascript:void(0)" ng-click="matriculateStudent(discipline, student)">[[discipline.name]]</a></span>
        <span>[[log]]</span>
    </div>
</ul>